#quizResults {
  display: none;
}

#Csharp {
  display: none;
}

#Ruby {
  display: none;
}

#Javascript {
  display: none;
}

h1 {
  text-align: center;
}

#intro {
  text-align: center;
}

.container {
  background: rgb(14, 128, 69);

text-align: left;
color: rgba(255, 255, 255, 0.899);
}
body {
  background: url(/images/martin-sanchez-ll7i0Tyab04-unsplash.jpg);
}
