#quizResults {
  display: none;
}

#Csharp {
  display: none;
}

#Ruby {
  display: none;
}

#Javascript {
  display: none;
}

h1 {
  text-align: center;
}

#intro {
  text-align: center;
}

body {
  background-image: url("/Users/diegosalazar/Desktop/programming-landing-suggester/images/beautiful-color-gradients-backgrounds-001-warm-flame.png")
}
